@model IEnumerable<WebApp.Models.ClienteModel>

    @{
    Layout = "_Layout";
    }

    <head>
        <link rel="stylesheet" href="~/css/gestaodeclientes.css">
        <link rel="stylesheet" href="~/css/site.css"/>
    </head>

    <div class="tab-buttons">
        <button class="back-button" onclick="location.href='@Url.Action("Index", "Menu")'">Retornar</button>
        <button class="tab-button" onclick="location.href='@Url.Action("AdicionarCliente", "Cliente")'">Adicionar Cliente</button>
    </div>

    <div id="visualizacao" class="tab">
        <div class="search-container">
            <label for="searchInput" class="search-label">Buscar:</label>
            <input type="text" id="searchInput" class="search-input" placeholder="Digite para pesquisar..." onkeyup="pesquisarCliente()">
            <label for="filterColumn" class="filter-label">Filtro:</label>
            <select id="filterColumn" class="filter-select">
                <option value="nomeCompleto">Nome Completo</option>
                <option value="email">E-mail</option>
                <option value="cpf">CPF/CPNJ</option>
                <option value="telefone">Telefone</option>
                <option value="dataNascimento">Data de Nascimento</option>
                <option value="rua">Rua</option>
                <option value="cep">CEP</option>
                <option value="numero">Número</option>
                <option value="bairro">Bairro</option>
                <option value="cidade">Cidade</option>
                <option value="estado">Estado</option>
            </select>
        </div>

        <table id="clienteTable">
            <thead>
            <tr>
                <th>Nome Completo</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
                <th>Rua</th>
                <th>CEP</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var cliente in Model)
            {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Email</td>
                <td>@cliente.CpfCnpj</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.DataNascimento.ToString("dd/MM/yyyy")</td>
                <td>@cliente.Endereco.Rua</td>
                <td>@cliente.Endereco.Cep</td>
                <td>@cliente.Endereco.Numero</td>
                <td>@cliente.Endereco.Bairro</td>
                <td>@cliente.Endereco.Cidade</td>
                <td>@cliente.Endereco.Estado</td>
                <td>
                    <button class="editar" onclick="editarCliente(this)">Editar</button>
                    <button class="excluir" onclick="excluirCliente(this)">Excluir</button>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>

    <script src="~/js/gestaodeclientes.js"></script>