@model WebApp.Models.UsuarioModel

@{
    ViewData["Title"] = "UF - Gerenciamento de Perfis";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/adicionarusuario.css">
    <title>@ViewData["UF - Gerenciamento de Perfis"]</title>
    <link rel="shortcut icon" type="icon" href="~/imagens/celeirourbanfarm.png">
</head>

<header class="top-bar">
    <img class="img-top-bar" src="~/imagens/logonovaurbanfarmpng.png" alt="logoUrbanFarm">
    <div class="menu-icon" onclick="toggleSidebar()">&#9776;</div>
    <div class="profile-icon" onclick="toggleProfileMenu(event)">
        <img class="img-perfil" src="~/imagens/perfil.png" alt="iconePerfil">
    </div>
    <div class="profile-menu">
        <ul>
            <li><a href="configuracoes.html">Configurações</a></li>
            <li><a href="login.html">Sair</a></li>
        </ul>
    </div>
</header>

<div class="sidebar">
    <ul>
        <li><a href="@Url.Action("AdicionarCliente","Cliente")">Gestão de Clientes</a></li>
        <li><a href="@Url.Action()">Gestão de Pedidos</a></li>
        <li><a href="@Url.Action("AdicionarFornecedor","Fornecedor")">Gestão de Fornecedores</a></li>
        <li><a href="@Url.Action("AdicionarUsuario","Usuario")">Gerenciamento de Perfis</a></li>
    </ul>
</div>

<div class="tab-buttons">
    <button class="back-button" onclick="window.location.href='@Url.Action("MenuPrincipal","Menu")'">Retornar</button>
        <div class="tab-buttons-left">
            <button class="back-button" onclick="location.href='@Url.Action("AdicionarUsuario", "Usuario")'">Adicionar Perfil</button>
            <button class="tab-button" onclick="location.href='@Url.Action("GerenciamentoPerfis","Usuario")'">Ver Perfis</button>
        </div>
</div>

<div id="adicionar" class="tab">
    <form id="profileForm" action="@Url.Action("AdicionarUsuario", "Usuario")" method="post">
        <label for="Nome">Nome:</label>
        <input type="text" id="Nome" required>
        <label for="Email">E-mail:</label>
        <input type="text" id="Email" required>
        <label for="Senha">Senha:</label>
        <input type="password" id="Senha" required>
        <div class="perfil-container">
            <label for="Funcao">Função:</label>
            <select class="Funcao" id="Funcao">
                <option value="Vendedor">Vendedor</option>
                <option value="Administrador">Administrador</option>
            </select>
        </div>
        <button type="submit" id="submitButton" class="submit-button" onclick="location.href='@Url.Action("GerenciamentoPerfis", "Usuario")'">Adicionar Cliente</button>
        <button type="button" id="cancelButton" class="cancel-button" onclick="location.href='@Url.Action("AdicionarUsuario", "Usuario")'">Cancelar</button>
    </form>
</div>

<script src="~/js/gerenciamentoperfis.js"></script>
